{% load staticfiles %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <script language = "javaScript">
            function go_if_login(login, link){
                if(login == 'False'){
                    alert("로그인이 필요한 기능입니다.");
                }
                else{                    
                    location.href=link;
                }
            }
        </script>
    </head>
    
    <body>
        <div id="wall">
            <div id="motto">
                <img id="motto-img" src="{% static 'images/home/sogang.png' %}">
                <a href="{% url 'guide' %}">
                    <img id="guide_button" src="{% static '/images/home/guide_button.png' %}">
                </a>
                {% if user.is_authenticated %}
                    <a href="{% url 'logout' %}">
                        <img id="logout" src="{% static 'images/home/logout.png' %}">
                    </a>
                {% else %}
                    <a href="{% url 'login' %}">
                        <img id="login" src="{% static 'images/home/login.png' %}">
                    </a>
                    <a href="{% url 'register' %}">
                        <img id="signup" src="{% static 'images/home/signup.png' %}">
                    </a>
                {% endif %} 
            </div>

            <div id="board">
                <img id="board-img" src="{% static 'images/home/board.png' %}">
                <img id="flea" src="{% static 'images/home/flea_button.png' %}" class="absolute"  onclick='go_if_login("{{ user.is_authenticated }}", "{% url 'madang:madang' %}")'>
                <img id="timetable" src="{% static 'images/home/time_table_button.png' %}" class="absolute" onclick='go_if_login("{{ user.is_authenticated }}", "{% url 'timetable' %}")'>
                <img id="food" src="{% static 'images/home/food_truck_button.png' %}" class="absolute" onclick='go_if_login("{{ user.is_authenticated }}", "{% url 'foodtruck:foodtruck' %}")'>
                <img id="event" src="{% static 'images/home/event_button.png' %}" class="absolute"  onclick='go_if_login("{{ user.is_authenticated }}", "{% url 'schedule:schedule' %}")'>
                <img id="attend" src="{% static 'images/home/check.png' %}" class="absolute" onclick='go_if_login("{{ user.is_authenticated }}", "{% url 'attend' %}")'>
            </div>
            <div id="desk">
                <img id="desk-img" src="{% static 'images/home/desk.png' %}" class="absolute">
                <img id="chair" src="{% static 'images/home/chair.png' %}" class="absolute">

                <img id="flat_mp3" src="{% static 'images/home/flat_mp3.png' %}" class="absolute" onclick='go_if_login("{{ user.is_authenticated }}", "{% url 'game1' %}")'>

                <img id="books" src="{% static 'images/home/books.png' %}" class="absolute" onclick='go_if_login("{{ user.is_authenticated }}", "{% url 'inside' %}")'>

                <img id="melody" src="{% static 'images/home/melody.png' %}" class="absolute">

            </div>
        </div>
        <div id="brown"></div>
        <div id="gray"></div>
    </body>
</html>