{% load staticfiles %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/input.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/UhBeepuding.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    
    <body>
        <div id="wall">
            <div id="motto">
                <img id="motto-img" src="{% static 'images/home/sogang.png' %}">
            </div>

            <div id="board">
                <img id="board-img" src="{% static 'images/home/board.png' %}">
                <div class="board-contents absolute">
                    <form method = "POST" action="{% url 'login' %}">{% csrf_token %}
                        <div class="font-on-board">학번 　<input id="username" name="username" placeholder='' type="text" required></div>       
                        <div class="font-on-board">비밀번호 <input id="password" name="password" placeholder='' type="password" required></div> 

                        {% if context %}
                                {{context}}
                        {% endif %}  
                        <button type="submit">로그인</button>
                        <button type="button" onclick="location.href='{% url 'register' %}'">회원가입</botton>
                    </form>
                </div>                
            </div>
        </div>
        <div id="brown"></div>
        <div id="gray"></div>
    </body>
</html>