{% load staticfiles %}
{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/input.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/UhBeepuding.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    
    <body>
        <div id="wall">
            <div id="motto">
                <img id="motto-img" src="{% static 'images/home/sogang.png' %}">
            </div>

            <div id="board">
                <img id="board-img" src="{% static 'images/home/board.png' %}">
                <div class="register board-contents absolute">
                    <form action="{% url 'register' %}" method="POST">
                        {% csrf_token %}
                        <div class="font-on-board">
                            학번  　<input name="username" placeholder='' type="text" required>
                        </div>
                        <div class="font-on-board">
                            <label for="id_dpt">학부  　</label> 
                            <select name="dpt" id="id_dpt">
                                <option value="1">국제인문학부</option>                            
                                <option value="2">사회과학부</option>                            
                                <option value="3">지식융합미디어학부</option>                            
                                <option value="4">자연과학부</option>                            
                                <option value="5">공학부</option>                            
                                <option value="6">경제학부</option>                            
                                <option value="7">경영학부</option>                            
                                <option value="8">커뮤니케이션학부</option>                            
                            </select>
                        </div>
                        <div class="font-on-board">비밀번호 <input name="password1" id="pw" placeholder='' type="password" required></div> 
                        <div class="font-on-board">비밀번호 확인 <input name="password2" id="checkpw" placeholder='' type="password" required></div> 

                        {% if context %}
                            {{context}}
                        {% endif %}   
                        <br>
                        <button type="submit">가입하기</button>
                        <button type="button" onClick="location.href='{% url 'home' %}'">홈으로 가기</button>       
                    </form>
                </div>                
            </div>
        </div>
        <div id="brown"></div>
        <div id="gray"></div>
    </body>
</html>