{% load static %}

<!DOCTYPE html>

<head>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="../../static/js/function.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    
    <style>
        body { 
            margin: 0;
            padding: 0;
            height: 100%;
            border: 0;
            padding: 0; 
            background-image: url('{% static "images/board_bg.png" %}');
            min-height: 100%;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>

<body>
    <div id="total">
        <div id="top">
            <a href="#"><img src="{% static "images/home_button.png" %}" style="padding-top: 5%; padding-left: 5%; width: 25%;"/></a>
            <img src="{% static "images/event_title.png" %}" style="margin-left: auto; display: block; padding-right: 10%; width: 70%;"/>
        </div>
        <div id="day">
            <div id="pagination" >
                <a href="#"><img id=mon src="{% static "images/mon_white.png" %}" style="padding-left: 5%; padding-top: 5%;" onclick="func()"/></a>
                <a href="#"><img id=tue src="{% static "images/tue_white.png" %}" style="padding-left: 5%; padding-top: 5%;" onclick="tue()"/></a>
                <a href="#"><img id=wed src="{% static "images/wed_white.png" %}" style="padding-left: 5%; padding-top: 5%;" onclick="wed()"/></a>
                <a href="#"><img id=thur src="{% static "images/thur_white.png" %}" style="padding-left: 5%; padding-top: 5%;" onclick="thur()"/></a>
                <a href="#"><img id=fri src="{% static "images/fri_white.png" %}" style="padding-left: 5%; padding-top: 5%;" onclick="fri()"/></a>
            </div>
        </div>
        <div id="info">
            <a href="#"><img src="{% static "images/when.png" %}" /></a>
            <a href="#"><img src="{% static "images/where.png" %}" /></a>
            <a href="#"><img src="{% static "images/what.png" %}" /></a>
        </div>
    </div>
</body>

