* {
    
    font-family: 'chosun_ilbo_myungjo.ttfRg';   
}
body {
    margin : 0 !important;    
    background-color : #cccccc;
    width : 100%;
}

#home{
    background-color : #8E6A28;
}

#header{
    margin-top : 12px;
}

#home-img{
    height: 48px;
    margin-bottom : 12px;
}

#header-img{
    width : 100%;
    display: block;
}
textarea{
    ime-mode:auto; 
    border:none; 
    border-bottom:2px solid black;
    background-color : transparent;
    margin : 5% auto;
    display: block;
    font-size:24px;
    color:black;
}

#main img{
    width: 80%;
    margin: 0 auto;
    display: block;
}

.phrase{
    width: 80%;
    margin: 0 auto;
    display: block;
    font-size:18px;
}

button{
    border:3px solid black;
    background-color : transparent;
    margin : 5%;
    float: right;
    font-size: 24px;
}

#main{
    margin : 5%;
}