#background{
    background-color: rgb(184, 145, 48);
    height: 100%;
    width: 100%;
}
#gamefield{
    padding-top: 10%;
    padding-left: 6%;
    height: 80%;
    width:70%;
}
#game01{
    height: 1370px;
    width: 900px;
    position: absolute;
}
#inputdiv{
    padding-top: 65%;
    margin: auto;
    height: 100px;
    width: 670px;
    position: absolute;
    text-align: center;
}

#answerinput{
    height: 70px;
    width: 300px;
}

#buttondiv{
    padding-top: 930px;
    padding-left: 21%;
    
    padding-right: 160px;
    text-align: center;
    height:500px;
    widows: 500px;
}

#button{
    position: absolute;
    height: 200px;
    width: 200px;
}