#background{
    background-color: rgb(184, 145, 48);
    height: 100%;
    width: 100%;
}
#gamefield{
    padding-top: 10%;
    padding-left: 6%;
    position: relative;
}
#game01{
    height: 1370px;
    width: 900px;
}
#question{
    font-size: 50pt;
    position: absolute;
    top:30%;
    left:35%;
    margin: auto;
}
#resultdiv{
    font-size: 28pt;
    position: absolute;
    top:12%;
    left:20%;
    margin: auto;
    z-index: 1;  
    text-align: center;  
}
#answerinput{
    height: 95px;
    width: 480px;
    position: absolute;
    top: 47%;
    left: 25%;
    border: none;
    border-radius: 40px 40px;
    font-size: 50pt;
}


#button{
    position: absolute;
    height: 200px;
    width: 200px;
    top: 69%;
    left: 40%;
}
