@import url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_five@.2.0/UhBeepuding.woff');

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 3% 3.7%;
    text-decoration: none;

}

.pagination a.active {
    background-color: blue;
    color: white;
}
.map{
    text-align: center;
    padding-left: 100%;
}

.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr 1.5fr;
    grid-template-rows: 1fr;
    grid-template-areas: "when_grid where_grid what_grid";
  }
  
.when_grid { grid-area: when_grid; }

.where_grid { grid-area: where_grid; }

.what_grid { grid-area: what_grid; }
