{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/song.css' %}">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<script language="javaScript">
    function Backward(){
        window.history.back();
    }
</script>
<div id=background>
        <div id='homebuttondiv'>
            <a href="{% url 'home' %}">
            <img id='homebuttonimg' src="{% static 'images/song/home_button2.png' %}">
            </a>
        </div>
       <div id=gamefield>
           <img id = "game01" src="{% static 'images/song/mp3_nobubble.png' %}">
            <table>
                <tr>
                    <th>
                        순위
                    </th>
                    <th>
                        참여인원
                    </th>
                    <th>
                        학부
                    </th>
                </tr>
                {% for dpt, num in result.items %}
                    {% if forloop.counter < 6 %}
                    <tr>
                            <td class="rank">
                                {{forloop.counter}}
                            </td>
                            <td>
                                {{num}}명
                            </td>
                            <td>
                                {{dpt}}
                            </td>
                        </tr>
                    {% else %}
                        <p></p>
                    {% endif %}
                {% endfor %}


            </table>
           <img  id="button" src="{% static 'images/song/back.png' %}" onClick="Backward();">
    </form>
    </div> 
    </div>

