{% load static %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static '/css/chosun_ilbo_myungjo.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static '/css/insider.css' %}">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
    
    <body>
        <div id="home">
            <a href="{% url 'home' %}">
                <input type="image" id="home-img" src="{% static '/images/insider/home_button3.png' %}">
            </a>
        </div>
        <div id="header">
            <img id="header-img" src="{% static '/images/insider/test.png' %}"/>
        </div>
        <div id="main">
            
            <form method="POST" action="{% url 'inside' %}">{% csrf_token %}
                <h2>[1-3] 다음 사진을 보고, 해당 장면이 등장한 드라마의 이름을 적으시오.</h2>
                
                <div class="question">
                    <h2>1.</h2>
                    <img src="{% static '/images/insider/questions/1.jpg' %}"/>
                    <textarea name="1" id="1" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>2.</h2>
                    <img src="{% static '/images/insider/questions/2.jpg' %}"/>
                    <textarea name="2" id="2" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>3.</h2>
                    <img src="{% static '/images/insider/questions/3.jpg' %}"/>
                    <textarea name="3" id="3" rows="2" cols='20' placeholder="답:"></textarea>
                </div>

                
                <h2>[4-9]다음 그림을보고, 추억의 식품의 이름을 적으시오.</h2>
                <div class="question">
                    <h2>4.</h2>
                    <img src="{% static '/images/insider/questions/4.png' %}"/>
                    <textarea name="4" id="4" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>5.</h2>
                    <img src="{% static '/images/insider/questions/5.png' %}"/>
                    <textarea name="5" id="5" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>6.</h2>
                    <img src="{% static '/images/insider/questions/6.png' %}"/>
                    <textarea name="6" id="6" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>7.</h2>
                    <img src="{% static '/images/insider/questions/7.png' %}"/>
                    <textarea name="7" id="7" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>8.</h2>
                    <img src="{% static '/images/insider/questions/8.png' %}"/>
                    <textarea name="8" id="8" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>9.</h2>
                    <img src="{% static '/images/insider/questions/9.png' %}"/>
                    <textarea name="9" id="9" rows="2" cols='20' placeholder="답:"></textarea>
                </div>

                <h2>[10-15]  다음 음악방송의 캡쳐 화면을 보고, 알맞은 곡 제목을 적으시오.</h2>
                <div class="question">
                    <h2>10.</h2>
                    <img src="{% static '/images/insider/questions/10.jpg' %}"/>
                    <textarea name="10" id="10" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>11.</h2>
                    <img src="{% static '/images/insider/questions/11.jpg' %}"/>
                    <textarea name="11" id="11" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>12.</h2>
                    <img src="{% static '/images/insider/questions/12.jpg' %}"/>
                    <textarea name="12" id="12" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>13.</h2>
                    <img src="{% static '/images/insider/questions/13.jpg' %}"/>
                    <textarea name="13" id="13" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>14.</h2>
                    <img src="{% static '/images/insider/questions/14.jpg' %}"/>
                    <textarea name="14" id="14" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>15.</h2>
                    <img src="{% static '/images/insider/questions/15.jpg' %}"/>
                    <textarea name="15" id="15" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                
                <h2>[16-22] 다음은 광고 카피문구입니다. 빈칸을 채워주세요. (반복되는 문구는 하나만 적어주세요!)</h2>

                <div class="question">
                    <h2>16.</h2>
                    <h2 class="phrase">커피? 도넛? □□□□□ (5글자)</h2>
                    <textarea name="16" id="16" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>17.</h2>
                    <h2 class="phrase">□곱하기 □는 □ (1글자)</h2>
                    <textarea name="17" id="17" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>18.</h2>
                    <h2 class="phrase">미녀는 □□를 좋아해~ (2글자)</h2>
                    <textarea name="18" id="18" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>19.</h2>
                    <h2 class="phrase">생각 생각 생각 생각 □□카드 (2글자)</h2>
                    <textarea name="19" id="19" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>20.</h2>
                    <h2 class="phrase">니킥□□ □□ □□, 팝핀 팝핀 스텀프 웨이브 웨이브 □□ □□ 크럼프 크럼프 □□ □□ 온몸으로 □□ □□ 샤이니처럼 □□ □□ (2글자)</h2>
                    <textarea name="20" id="20" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>21.</h2>
                    <h2 class="phrase">□□, □□, □□ LTE 워프, 올레! (2글자)</h2>
                    <textarea name="21" id="21" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                <div class="question">
                    <h2>22.</h2>
                    <h2 class="phrase">□□~, 떡□□, 콩떡□□ (2글자)</h2>
                    <textarea name="22" id="22" rows="2" cols='20' placeholder="답:"></textarea>
                </div>
                

                <button type="submit">제출하기</button>
            </form>
            <button type="button" onclick="location.href='{%url 'dptinsiderank' %}'">학부별 랭킹</button>
        </div>
        <img src="{% static 'images/insider/omr_card.png' %}" style="width: 100%;">
    </body>

</html>
