<h1>인싸 테스트</h1>

<meta charset="utf-8">

<form method="POST" action="{% url 'inside' %}">{% csrf_token %}
<h1>1번</h1>
<h1>문제는 여기</h1>
답: <textarea name="1" id="1" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea>
<h1>2번</h1>
<h1>문제는 여기</h1>
답: <textarea name="2" id="2" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>3번</h1>
<h1>문제는 여기</h1>
답: <textarea name="3" id="3" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>4번</h1>
<h1>문제는 여기</h1>
답: <textarea name="4" id="4" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>5번</h1>
<h1>문제는 여기</h1>
답: <textarea name="5" id="5" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>6번</h1>
<h1>문제는 여기</h1>
답: <textarea name="6" id="6" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>7번</h1>
<h1>문제는 여기</h1>
답: <textarea name="7" id="7" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>8번</h1>
<h1>문제는 여기</h1>
답: <textarea name="8" id="8" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>9번</h1>
<h1>문제는 여기</h1>
답: <textarea name="9" id="9" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>10번</h1>
<h1>문제는 여기</h1>
답: <textarea name="10" id="10" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>11번</h1>
<h1>문제는 여기</h1>
답: <textarea name="11" id="11" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>12번</h1>
<h1>문제는 여기</h1>
답: <textarea name="12" id="12" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>13번</h1>
<h1>문제는 여기</h1>
답: <textarea name="13" id="13" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>14번</h1>
<h1>문제는 여기</h1>
답: <textarea name="14" id="14" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>15번</h1>
<h1>문제는 여기</h1>
답: <textarea name="15" id="15" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>16번</h1>
<h1>문제는 여기</h1>
답: <textarea name="16" id="16" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>17번</h1>
<h1>문제는 여기</h1>
답: <textarea name="17" id="17" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>18번</h1>
<h1>문제는 여기</h1>
답: <textarea name="18" id="18" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>19번</h1>
<h1>문제는 여기</h1>
답: <textarea name="19" id="19" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>
<h1>20번</h1>
<h1>문제는 여기</h1>
답: <textarea name="20" id="20" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea><br><br>

<button type="submit">제출하기</button>
</form>



<button type="button" onclick="location.href='{%url 'dptinsiderank' %}'">학부별 랭킹</button>