{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/song.css' %}">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<script type="text/javascript">
    var num = 0;
    var imgArray = [
        "{% static 'images/song/questions/1.png' %}", "{% static 'images/song/questions/2.png' %}", "{% static 'images/song/questions/3.png' %}", "{% static 'images/song/questions/4.png' %}", "{% static 'images/song/questions/5.png' %}", "{% static 'images/song/questions/6.png' %}", "{% static 'images/song/questions/7.png' %}", "{% static 'images/song/questions/8.png' %}", "{% static 'images/song/questions/9.png' %}", "{% static 'images/song/questions/10.png' %}", "{% static 'images/song/questions/11.png' %}", "{% static 'images/song/questions/12.png' %}","{% static 'images/song/questions/13.png' %}","{% static 'images/song/questions/14.png' %}","{% static 'images/song/questions/15.png' %}","{% static 'images/song/questions/16.png' %}","{% static 'images/song/questions/17.png' %}","{% static 'images/song/questions/18.png' %}","{% static 'images/song/questions/19.png' %}","{% static 'images/song/questions/20.png' %}"
    ]

/*    for(var i=1 ; i<21; i++){
        imgArray[i] = new Image();
        imgArray[i].src = "{% static 'images/song/questions/"+i+".png' %}";
    }*/
    var ansArray =new Array(1);
    function begin(){
        var q = document.getElementById('question');
        var btn = document.getElementById('button');
        var game = document.getElementById('game01');
        var gamefield = document.getElementById('gamefield');
        var ans = document.getElementById('answerinput');
//        game.src = "{% static 'images/song/mp3_bubble.png' %}";
        gamefield.removeChild(q);
        var warning = document.createElement("textarea");
        warning.setAttribute("id", "warn" );
        gamefield.appendChild(warning);                
        warning.innerHTML="[유의사항]&#10;&#10;1. 해당 퀴즈는 단 한번만 응시 가능합니다.&#10;2. 정답은 음원사이트에 등재된 제목 그대로 작성하세요.&#10; 2-1. 모든 특수문자는 제외하고 써주세요. &#10; 2-2. 괄호 및 그 안의 내용도 제외하고 써주세요.&#10;3. 정답의 띄어쓰기나 대소문자는 무관합니다.";
        /*'[유의사항]'+'<br><br>'+'1. 해당 퀴즈는 단 한번만 응시 가능합니다.'+'<hr>'+
        '2. 정답은 음원사이트에 등재된 제목 그대로 작성하세요!'+'<hr>'+
        ' 3. 모든 특수문자는 제외하고 써주세요.'+'<hr>'+
        ' 4. 괄호 및 그 안의 내용도 제외하고 써주세요.'+'<hr>'+
        '5. 정답의 띄어쓰기나 대소문자는 무관합니다.';*/
        btn.src = "{% static 'images/song/next.png' %}";
      //  document.getElementById('answerinput').style.backgroundColor="white";
        btn.onclick = function(){ next(); };
    }
    function next(){
        var w = document.getElementById('warn');
        var r = document.getElementById('record');
        var btn = document.getElementById('button');
        var ans = document.getElementById('answerinput');
        var gamefield = document.getElementById('gamefield');
        if(num<20){
            if(num==0){
                num++;
                gamefield.removeChild(w);
                document.getElementById('answerinput').style.backgroundColor="white";
                var gameimg = document.createElement("img");
                gameimg.setAttribute("id", "qimg");
                gameimg.setAttribute("src", imgArray[num-1]);
                document.gameform.appendChild(gameimg);
            }
            else{
                num++;
                var qimg = document.getElementById("qimg");
                qimg.src = imgArray[num-1];
                ansArray.push(ans.value);
                ans.value="";
            }
        }
        else{
            ansArray.push(ans.value);
            btn.src = "{% static 'images/song/exit.png' %}";
            //document.gameform.submit(ansArray);
            post_to_url("{% url 'game1' %}", ansArray);
            btn.onclick = function(){ location.href="{% url 'home' %}"; };
            ans.style.backgroundColor="rgb(242, 242, 242)";
        }

    }
    function post_to_url(path, params, method) {
    method = method || "post"; 
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    for(var key in params) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
    }
    var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "csrfmiddlewaretoken");
        hiddenField.setAttribute("value", "{{csrf_token}}");
        form.appendChild(hiddenField);
    document.body.appendChild(form);
    form.submit();
}

</script>
<div id=background>
        <div id='homebuttondiv'>
            <a href="{% url 'home' %}">
            <img id='homebuttonimg' src="{% static 'images/song/home_button2.png' %}">
            </a>
        </div>
        <div id='rankbuttondiv'>
            <a href="{% url 'dptsongrank' %}">
                <img id="rankbuttonimg" src="{% static 'images/song/ranking.png' %}">
            </a>
        </div>
       <div id=gamefield>
           <img id = "game01" src="{% static 'images/song/mp3_nobubble.png' %}">
           <p id = "question">   [이모티콘 음악 퀴즈 안내]<br><br>
            본 음악 퀴즈의 문제는 2005년~2015년 사이에 발매된 추억의 노래들의 가사/안무를 이모티콘으로 표현한 것입니다.
            다음 페이지의 주의사항에 유의하여, 해당하는 노래의 제목을 적어주세요.</p> 
           <form method="POST" action="{% url 'game1' %}" name="gameform">
                {% csrf_token %}
            <input type="text" id="answerinput" style="background-color: rgb(242, 242, 242)">
            
           <img  id="button" src="{% static 'images/song/start.png' %}" onClick="begin();">
    </form>
    </div> 
    </div>
