{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/song.css' %}">
<link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
$.ajax({
    type:"GET",
    url: "songrank/",
    contentType: "json",
    success: function(context){
        //alert("success");
        $("#rank").text(context['rank']+"등!(전체 : "+context['total']+"명)");
    },
    error: function(response){
        alert('fail');
    }
})
</script>
<div id="background">
        <div id="homebuttondiv">
            <a href="{% url 'home' %}">
            <img id="homebuttonimg" src="{% static 'images/song/home_button2.png' %}">
            </a>
        </div>
        <div id='rankbuttondiv'>
                <a href="{% url 'dptsongrank' %}">
                    <img id="rankbuttonimg" src="{% static 'images/song/ranking.png' %}">
                </a>
            </div>    
       <div id="gamefield">
           <img id = "game01" src="{% static 'images/song/mp3_nobubble.png' %}">
           <div id="resultdiv">
                <h1>내 성적</h1><br>
                {% if user.songscore == 20 or count == 20%}
                <h1>만점</h1><br>
                {% else %}
                <h1>20점만에 {{user.songscore}}점</h1>
                {% endif %}
                <h1 id="rank"></h1>
            </div>
           <img  id="button" src="{% static 'images/song/exit.png' %}" onClick="location.href='{% url "home" %}';">
    </div> 
    </div>
