{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/song.css' %}">
<!--<h1>노래 맞추기 게임</h1>

<meta charset="utf-8">
<button type="button" onclick="location.href='{%url 'dptsongrank' %}'">학부별 랭킹</button>
<form method="POST" action="{% url 'game1' %}">
    {% csrf_token %}

    <script language = "JavaScript">
        for(i=1; i<=4; i++){
            document.write("<h1>"+ i +"번"+ '<br></h1>');
            document.write("<h1>문제는 여기" + '<br></h1>');
            document.write("답: "+'<textarea name="' + i + '" id="' + i + '" rows="1" cols="20" style="ime-mode:auto; border:none; border-bottom:1px solid black;"></textarea>');
            document.write('<br>');
        }
    </script>
    
    <br>
    <button type="submit">제출하기</button>
</form>
-->
<script type="text/javascript">
    var num = 0;
    var ansArray =new Array(1);
    function begin(){
        var q = document.getElementById('question');
        var btn = document.getElementById('button');
        var game = document.getElementById('game01');
        game.src = "{% static 'images/song/mp3_bubble.png' %}";
        q.innerHTML='연습문제';
        btn.src = "{% static 'images/song/next.png' %}";
        document.getElementById('answerinput').style.backgroundColor="white";
        btn.onclick = function(){ next(); };
    }
    function next(){
        var q = document.getElementById('question');
        var r = document.getElementById('record');
        var btn = document.getElementById('button');
        var ans = document.getElementById('answerinput');
        if(num<4){
            if(num==0){
                num++;
                q.innerHTML=num + "번 문제";         
            }
            else{
                num++;
                q.innerHTML=num + "번 문제";      
                ansArray.push(ans.value);
                ans.value="";
            }
        }
        else{
            ansArray.push(ans.value);
            q.innerHTML= "내 성적";
            btn.src = "{% static 'images/song/exit.png' %}";
            //document.gameform.submit(ansArray);
            post_to_url("{% url 'game1' %}", ansArray);
            ans.value=ansArray;
            btn.onclick = function(){ location.href="{% url 'home' %}"; };
            ans.style.backgroundColor="rgb(242, 242, 242)";
        }

    }
    function post_to_url(path, params, method) {
    method = method || "post"; 
    var form = document.createElement("form");
    form.setAttribute("method", method);
    form.setAttribute("action", path);
    for(var key in params) {
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", key);
        hiddenField.setAttribute("value", params[key]);
        form.appendChild(hiddenField);
    }
    var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "csrfmiddlewaretoken");
        hiddenField.setAttribute("value", "{{csrf_token}}");
        form.appendChild(hiddenField);
    document.body.appendChild(form);
    form.submit();
}

</script>
<div id=background>
        <div id=homebuttondiv>
            <a href="{% url 'home' %}">
            <img id=homebuttonimg src="{% static 'images/song/home_button2.png' %}">
            </a>
        </div>
       <div id=gamefield>
           <img id = "game01" src="{% static 'images/song/mp3_nobubble.png' %}">
           <p id = "question">처음 시작</p> 
           <form method="POST" action="{% url 'game1' %}" name="gameform">
                {% csrf_token %}
            <input type="text" id="answerinput" style="background-color: rgb(242, 242, 242)">
            
           <img  id="button" src="{% static 'images/song/start.png' %}" onClick="begin();">
    </form>
    </div> 
    </div>
