{% extends '../base.html' %} 


    {% block content %}
<div class="title"><p>식단표</h1></p></div>
<img src="../static/media/image/foodtruck/magnet.png" class="logo" style="">

<div class="container-fluid" style="position: relative; z-index: 1;" >
    <br><br>
    <!--이중 for loop-->
{% for cate in categorized %}
<div class="foodtruck">
<br>

<div class="foodtruck_dt">
<div class="foodtruck_name"><br><br>
        <p style="font-size: 1.5em"><img src="../static/media/image/foodtruck/moon.png" class="pin" style="height: 20px">
            {{ cate.ftName }}<br></p></div>
<p></p>

{% if cate.ftImage %} 
    <div class="foodtruck_img">
    <img src = "{{ cate.ftImage.url }}" width = 200px class="foodpics"><br> </div> <!--푸드트럭 이미지-->
{% endif %}
<!--여기부터 if cate.ftMenu10 까지는 푸드트럭 메뉴-->
<div class="foodmenus">
<p>▶  메뉴판 :</p>
<ul>
{% if cate.ftMenu1 %}
<li><p>{{ cate.ftMenu1 }}</p></li>
{% endif %}
{% if cate.ftMenu2 %}
<li><p>{{ cate.ftMenu2 }}</p></li>
{% endif %}
{% if cate.ftMenu3 %}
<li><p>{{ cate.ftMenu3 }}</p></li>
{% endif %}
{% if cate.ftMenu4 %}
<li><p>{{ cate.ftMenu4 }}</p></li>
{% endif %}
{% if cate.ftMenu5 %}
<li><p>{{ cate.ftMenu5 }}</p></li>
{% endif %}
{% if cate.ftMenu6 %}
<li><p>{{ cate.ftMenu6 }}</p></li>
{% endif %}
{% if cate.ftMenu7 %}
<li><p>{{ cate.ftMenu7 }}</p></li>
{% endif %}
{% if cate.ftMenu8 %}
<li><p>{{ cate.ftMenu8 }}</p></li>
{% endif %}
{% if cate.ftMenu9 %}
<li><p>{{ cate.ftMenu9 }}</p></li>
{% endif %}
{% if cate.ftMenu10 %}
<li><p>{{ cate.ftMenu10 }}</p></li>
    </ul>
{% endif %}
</div>
</div>


<div class="foodreview">
    <p style="text-align: center"> <{{ cate.ftName }}> 트럭 한마디 후기 </p>
    <p style="text-align: center"> 평균 평점 : {{cate.generalRating}}</p>
<p style="text-align: right">
<a href="{% url 'foodtruck:foodtruck_review_dessert' index=cate.pk %}">후기 남기기</a></p></div>

<div class="reviews">
{% for comment in comments %}
<div class="review">
        {% if comment.ftCommentImage %}
        <p style="text-align: center">
        <div class="review_pic">
                <img src = "{{ comment.ftCommentImage.url }}" width = 300 class="review_pic"></div></p>  <!--사용자가 올린 음식 이미지-->
            {% endif %} <br>
        {% if comment.foodtruck == cate %}
                <div class="review_content">
        <p style="font-size: 120%"> >{{ comment.ftRating}}점/   <!--점수-->
            {{ comment.ftComment }} <!--댓글내용-->
        <p style="text-align: right"> <!--작성자-->
        {{ comment.ftCommentTimeStamp }} -{{ comment.ftCommentAuthor }}- </p> <!--작성시간-->
    </div>{% endif %} </div> 
{% endfor %} </p></div>ㅇ
{% endfor %} </div> 
<hr>
</div>
    

{% endblock %}