<html>
<body>
<img src="" width=300 height = 300 alt="운동장시간표">
<input type="button" value = "목" onclick="thurs()">
&nbsp;&nbsp;&nbsp;<input type="button" value = "금" onclick="fri()">
<div id = "thursday" style="display:block">
    주호야안녕
</div>
<div id = "friday" style="display:none">
    안녕주호야
</div>
</body>
<script>
    function thurs(){
        var x = document.getElementById('thursday')
        x.style.display="block";
        var  y =document.getElementById('friday')
        y.style.display="none"
    }
    function fri(){
        var x = document.getElementById('friday');
        x.style.display="block";
        var  y =document.getElementById('thursday')
        y.style.display="none"
    }
</script>
</html>