{% load static %}

<!DOCTYPE HTML>
<html lang="kr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static '../static/css/style.css' %}" />

    
    <script type="text/javascript" src= '{% static "../static/js/style.js" %}'></script>

</head>
<body>
    <a href="#none"><img src="../static/media/image/base/home_button.png" class="home_button"></a>
    {% block content %}
    {% endblock %}
</body>
 
  </html>