<table border="1">
        <th>날짜/이름</th>
        <th>출석</th>
        <tr>
            <td>9월 24일(화)</td>
            <td>
                <script>
                    a={{tue}}
                    if(a==1){
                        document.write(1);
                    }
                    else if(a==-1){
                        document.write(-1);
                    }
                </script>
                
            </td>
        </tr>
        <tr>
            <td>9월 25일(수)</td>
            <td>
                <script>
                    a={{wed}}
                    if(a==1){
                        document.write(1);
                    }
                    else if(a==-1){
                        document.write(-1);
                    }
                </script>
            </td>
        </tr>
        <tr>
            <td>9월 26일(목)</td>
            <td>
                <script>
                    a={{thur}}
                    if(a==1){
                        document.write(1);
                    }
                    else if(a==-1){
                        document.write(-1);
                    }
                </script>
            </td>
        </tr>
        <tr>
            <td>9월 27일(금)</td>
            <td>
                <script>
                    a={{fri}}
                    if(a==1){
                        document.write(1);
                    }
                    else if(a==-1){
                        document.write(-1);
                    }
                </script>
            </td>
        </tr>
</table>