{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/attend.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/aNewGungSeo.css' %}">
<script language="javaScript">
    function check(){
        var f = document.getElementById('checkform');
        var hiddenField = document.createElement("input");
        hiddenField.setAttribute("type", "hidden");
        hiddenField.setAttribute("name", "csrfmiddlewaretoken");
        hiddenField.setAttribute("value", "{{csrf_token}}");
        f.appendChild(hiddenField);
        f.submit();
    }
</script>
<div id = "background">
    <img id="backgroundimg" src="{% static 'images/attend/background.jpg' %}">
    <div id = "headdiv">
        <img id="headimg" src="{% static 'images/attend/head.png' %}">
    </div>
    <table>
        <tr>
        <th class="backslash">이름<div>날짜</div></th>
        <th style="font-size: 40pt;">{{ user.username }}</th>
        </tr>
        <tr>
            {% if today == 1 %}
            <td class = "today">9월 24일<br>(화)</td>
            {% else %}
            <td class = "weekday">9월 24일<br>(화)</td>
            {% endif %}
            <td>
                {% if tue == 1 %}
                <img id = "checkedimg" src = "{% static 'images/attend/checked.png' %}">
                {% elif tue == 2 %}
                <form action="{% url 'attend' %}" method="POST" id = "checkform">
                    <img id = "todayimg" src ="{% static 'images/attend/today.png' %}" onclick="check();">
                </form>
                {% endif %}     
            </td>
        </tr>
        <tr>
            {% if today == 2 %}
            <td class = "today">9월 25일<br>(수)</td>
            {% else %}
            <td class = "weekday">9월 25일<br>(수)</td>
            {% endif %}
            <td>
                {% if wed == 1 %}
                <img id = "checkedimg" src = "{% static 'images/attend/checked.png' %}">
                {% elif wed == 2 %}
                <form action="{% url 'attend' %}" method="POST" id = "checkform">
                    <img id = "todayimg" src ="{% static 'images/attend/today.png' %}" onclick="check();">
                </form>
                {% endif %}     
            </td>
        </tr>
        <tr>
            {% if today == 3 %}
            <td class = "today">9월 26일<br>(목)</td>
            {% else %}
            <td class = "weekday">9월 26일<br>(목)</td>
            {% endif %}
            <td>
                {% if thur == 1 %}
                <img id = "checkedimg" src = "{% static 'images/attend/checked.png' %}">
                {% elif thur == 2 %}
                <form action="{% url 'attend' %}" method="POST" id = "checkform">
                    <img id = "todayimg" src ="{% static 'images/attend/today.png' %}" onclick="check();">
                </form>
                {% endif %}         
            </td>
        </tr>
        <tr>
            {% if today == 4 %}
            <td class = "today">9월 27일<br>(금)</td>
            {% else %}
            <td class = "weekday">9월 27일<br>(금)</td>
            {% endif %}
            <td>
                {% if fri == 1 %}
                <img id = "checkedimg" src = "{% static 'images/attend/checked.png' %}">
                {% elif fri == 2 %}
                <form action="{% url 'attend' %}" method="POST" id = "checkform">
                    <img id = "todayimg" src ="{% static 'images/attend/today.png' %}" onclick="check();">
                </form>
                {% endif %}         
            </td>
        </tr>
    </table>
    <div id="bannerdiv">
        <img id = "bannerimg" src = "{% static 'images/attend/banner.png' %}">
    </div>
</div>
